# Entorno virtual
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# VS Code
.vscode/

# PyInstaller / builds
build/
dist/
*.spec

# Logs
*.log

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Archivos temporales
*.tmp
*.temp
*.swp